.loginWindow {
  margin: auto;
  border: 1px solid black;
  border-radius: 25px;
  width: 200px;
  height: 125px;
  padding: 20px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -62.5px;
  margin-left: -100px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.board {
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 40px;
  padding: 10px;
}

.board:hover {
  border-color: blue;
  cursor: pointer;
}

.board-full {
  background-color: #FF9646;
}

.board-empty {
  background-color: #F37C23;
}

.board-text {
  background-color: #515151;
  color: white;
  width: 70%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.pasteInput {
  border: none;
  background: transparent;
  color: white;
  width: 100%;
}

.pasteInput:focus {
  outline-width: 0;
}
